__pycache__
.vscode
bin
include
lib
lib64
migrations
share
config.py
conversations.csv
global_roles.csv
global_users.csv
mdbbot_database.sqlite3
mdbbot_database.sqlite3-shm
mdbbot_database.sqlite3-wal
pyvenv.cfg
users.csv
backup
aerich.ini
ConyLight.otf
profile_photo.jpg
wget-log
